@model Ignite.ExpertFinder.Contract.FaceDetectionResponse

@{
    ViewBag.Title = "Dashboard";
    Layout = "_Layout";
}

<h1>Dashboard</h1>
<hr />
<h2>Detected Experts</h2>

@if (Model.DetectedExperts.Count == 0)
{
    <h3>No experts detected.</h3>
}
else
{
    foreach (var expert in Model.DetectedExperts)
    {
        <div class="row">
            <div class="col-md-9" style="border: 1px solid white; padding: 20px;">
                <div class="row>">
                    <div class="col-md-4">
                        <img alt="image" src="@expert.ProfilePicUrl" style="width: 150px; height: 150px;">
                        <h3><b>@expert.Name</b></h3>
                        <i>@expert.Organization</i>
                    </div>
                    <div class="col-md-5">
                        @foreach (var skill in expert.Skills)
                        {
                            <i class="fa fa-2x fa-windows" style="color: white; padding-right: 5px;" aria-hidden="true"></i>
                            @skill
                            <br />
                            <br />
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    }
}
<h2>Image Captured By Holelens</h2>
<img src="@Model.CapturedImage" alt="captured image" />
<script type="text/javascript">
    setTimeout(function () {
        window.location.reload(1);
    }, 30000);
</script>