<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="ReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="ReplicatorEndpoint" />
  </Section>
  <Section Name="ReplicatorSecurityConfig" />
  <Section Name="ApplicationSettings">
    <Parameter Name="FaceDetectionApiKey" Value="b26ab9c6e6b24ebc833f99399dc3a6dd" />
    <Parameter Name="FaceDetectionGroupId" Value="igniteexperts1" />
    <Parameter Name="FaceDetectionGroupName" Value="experts1" />
  </Section>
</Settings>
