body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #34515E;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 18px;
}

.footer {
    padding: 30px;
}

.navbar-brand {
    color: white !important;
    font-size: 20px;
    font-weight: bold;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 90vh;
}

.action {
    height: 50px;
    width: 320px;
    background-color: tomato;
    border-radius: 0px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none !important;
    margin-bottom: 5px;
}

    .action:hover {
        color: white;
        background-color: #aa422f;
    }

    .action:active {
        color: white;
        background-color: #aa422f;
    }

.submit {
    height: 50px;
    width: 320px;
    background-color: yellowgreen;
    border-radius: 0px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none !important;
    margin-bottom: 5px;
}

    .submit:hover {
        color: white;
        background-color: darkolivegreen;
    }

    .submit:active {
        color: white;
        background-color: darkolivegreen;
    }
